@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{

    /*config dos elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /*config do background*/
    background: url('../imagens/fundos/arvore.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.efeito label{
    color: #F2E8CF;
    background: transparent;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 60%;
    left: 1.5em;
    pointer-events: none;
    transition: .3s;
}

.efeito input{
    color: white;
    border: 2px solid rgba(236, 236, 236, 0.2);
    background: transparent;
    border-radius: 40px;
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    outline: none;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.efeito input:focus~label,
input:valid~label{
    top: 0;
    background: transparent;
    backdrop-filter: blur(40px);
    font-size: 0.8rem;
    font-weight: bold;
}

.efeito i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-35%);
    font-size: 20px;
}
.wrapper .lembrar-senha{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 0 15px;
}

.lembrar-senha label input{
    accent-color: #fff;
    margin-right: 3px;
}

.lembrar-senha a{
    color: #fff;
    text-decoration: none;
}
.lembrar-senha a:hover{
    text-decoration: underline;
}

.wrapper .button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .cadastro-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.cadastro-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.cadastro-link p a:hover{
    text-decoration: underline;
}


