body {
    background-color: #89CFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.form {
    background-color: #c3ecff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.name{
    height: 20px;
}

.senha {
    height: 20px;
}
h1{
   
    color: #1a4e80; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
}
.button,
.link {
    display: inline-block;
    background-color: #f3f5f7;
    color: #080505;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #f3f5f7;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.button:hover,
.link:hover {
    background-color: #e1e5e8;
    transform: scale(1.03);
}

.email{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #1a4e80;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}



