.comentario {
    display: flex;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 2px;
    padding: 10px 15px;
}

.comentario:hover{
    background: rgba(0, 0, 0, 0.03);
    cursor:  pointer;
}

.comentario__autor-logo {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.comentario__header {
    display: flex;
}

.comentario__autor-nome {
    font-size: 15px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
}

.comentario__autor-slug{
    color: #5b7089;
    font-size: 15px;
}

.comentario__tempo-publicado {
    margin-left: 5px;
    color: #657786;
}

.tweet__image {
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.tweet a{
    color: #1b94e0;
    text-decoration: none;
}

.tweet a:hover {
    text-decoration: underline;
}